<!--
body {
    background-image: url("dynasty-builders.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} 
.red {
	color: #800000;
}
.grey {
	color: #000000;
}
.gold {
	color: #BEC402;
}
.blue {
	color: #0080FF;
}
.green {
	color: #00FF40;
}
.themain {
background: #901b1b;
-moz-border-radius: 8px 8px 8px 8px;
font-family:Georgia, "Times New Roman", Times, serif;
}

.topp1 {
font-size:13px;
background: #b02c2c;
color: #ffcfcf;
font-weight: bold;
-moz-border-radius: 8px 0 0 0;
}

.topp2 {
font-size:13px;
background: #b02c2c;
color: #ffcfcf;
font-weight: bold;
}

.topp3 {
font-size:13px;
background: #b02c2c;
color: #ffcfcf;
font-weight: bold;
}
.trhover {
background: #FFFFFF;
}
textarea.styled {
	width:100%;
	height: 300px;
	border: 3px solid #cccccc;
	padding: 0 0 0 5px;
	font-family: Tahoma, sans-serif;
}

.trhover:hover{background: #ffeab0;}
.trhover:active{background: #ffeab0;}

-->
</style>